
#header {
	margin-bottom: 1em;
}

#team-list, #player-list {
	list-style-type: none;
	padding: 0; 
	margin:0;
}

.team-player {
	padding-left: 1em;
	padding-bottom: 0.5em;
}


#player-list li, #team-list li {
	padding: 10px 3px 10px 3px;
	width: 200px;
	position: relative;
	font-size: 1.3em;
	border-bottom: 1px solid #CCC;
}


#player-list li:last-child {
	border-bottom: none;
}



#team-list li:last-child {
	border-bottom: none;
}

#num-teams {
	margin-left: 2px;
	width: 3em;
}

button.generate {
	margin-left: 2px;
	margin-bottom: 9px;
}

#player-list .destroy {
	position: absolute;
	right: 5px;
	top: 13px;
	cursor: pointer;
	margin-left: 10px;
	display: block;
	width: 20px;
	height: 20px;
	background: url(/images/destroy.png) no-repeat;
}


#player-list li:hover .destroy {
	display: block;
}

#player-list .destroy:hover {
  	background-position: 0 -20px;
}


/* For phones */
@media (max-width: 767px) { 

	#generate-teams {
		clear: left;
		margin-left: 0px;
		margin-top: 1.5em;
		padding-top: 1.5em;
		border-top: 1px solid;
	}

	#header {
		font-size: 1.5em;		
	}


}
